.comicCardContainer {
  min-width: 192.2px;
}

.comicCardContainer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--size-1);
}

.comicCardContainer__info {
  margin-top: var(--size-4);
  width: 100%;
}
.comicCardContainer__info__small {
  margin-top: var(--size-3);
}
